@media (max-width: 1249px) {
  aside {
    width: 100%;
  }

  #FotoLab {
    width: 95%;
  }

  .Cotizar {
    display: inline-block;

    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }

  .Info {
 
    margin-top: 0px;
    height: 50%;
  }
 
}
