* {
    font-family: 'Times New Roman', Times, serif;
  }

#carouselExample{
    width: 60%;
    margin-left: 20px;
}

.ContenidoP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#InformaciónDueña h3{
    margin-top: 10%;
}

#InformaciónDueña p{
    margin-top: 10%;
}

aside{
    width: 17%;
    margin-right: 1%;
}

#Contactenos{
    margin-top: 8%;
}

#Contactenos h2{
    margin-bottom: 8%;
}

#InformaciónDueña p{
    line-height: 1.2;
}

.Galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Galeria h2{
    margin: 40px;
    color: #8593AE;
}