@media (max-width: 1249px){

.Info p{
    width: 80%;
}

.Info{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 3%;
}

#TituloH{
    margin: 0px;
}


.ContenidoP{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Contenido{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
    height: 100%;
}

#ContenedorFotoLab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#FotoLab{
    width: 100%;
    margin-left: 0px;
}


}