.FotoPerfil{
    width: 100%;
    
}

.FotoPerfil1{
    width: 100%;
    height: 80%;
}

.Contenido{
    margin-left: 80px;
}

.ContInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

.ContInfo1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 40px;
}

.ContenedorImagenAutor{
    width: 20%;
}

.ContenedorInformacionAutor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.ContenedorInformacionAutor1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 60px;
}

#ContenidoAutor h2, p{
    color: #8593AE;
    margin-bottom: 5%;

}

#ContenidoAutor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.ContenidoP #ContenedorFotoLab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#InformaciónDueña p{
    color: white;
}
aside{
    display: flex;
    flex-direction: column;
    background-color: #8593AE;
    color: white;
    width: 15%;
    padding: 10px;
    margin-left: 50px;
}
