@media (max-width: 1249px){
    .Contenido{
        margin-left: 0px;
    }

    .ContenedorImagenAutor{
        width: 50%;
    }

    .ContInfo1{
        margin-right: 20px;
    }

    aside{
        width: 100%;
        margin-left: 0px;
    }
}