#map {
	height: 500px;
	width: 100%;
}

.Ubicacion h2{
    color: #8593AE;
    margin-bottom: 40px;
}
.Ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}